<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Dmitry Plashchynski's home page</title>
    <%= include_stylesheets :all %>
    <style type='text/css'>
      #hcard-download { margin-bottom:1em; }
      #hcard-download a { background:url(images/hcard_download.png) 0 50% no-repeat; padding:.3em 0 0 35px; }
      a         { text-decoration: underline; }
      a:visited { color: #909; }
      a:link    { color: #05C; }
      a:hover   { color: #C00; }
    </style>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17497138-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
